# Node modules
frontend/node_modules/
backend/node_modules/
yolo_system/backend_node/node_modules/
yolo_system/frontend_react/node_modules/

# Build folders
frontend/build/
frontend/dist/
yolo_system/frontend_react/build/
yolo_system/frontend_react/dist/

# Logs and env files
*.log
.env

# OS files
.DS_Store
Thumbs.db